.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div,
button {
  margin: 15px;
}

.header {
  display: flex;
  justify-content: center;
}

.header-name {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-top: -10px;
}

.no-header-img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 50%;
}

.no-header-img img {
  width: 85px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

.titles {
  color: white;
  text-align: left;
  margin-left: 15px;
}

.tracks-artists-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.left {
  display: flex;
}

.left h4 {
  margin-left: 20px;
  margin-top: 15px;
}

.info {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 0;
}

.artist-img img {
  border-radius: 50%;
  height: 50px;
}

.chevron {
  background-color: transparent;
  border: transparent;
  align-items: flex-end;
}
.chevron img {
  width: 15px;
  height: 10px;
  align-items: flex-end;
}
